# Backend Server Endpoint URL
# Set this when deploying client to hosting platforms like Vercel or Netlify.
# If hosting on the same server/domain as backend, you can leave it blank.
VITE_BACKEND_URL=http://localhost:5001
